<% if (tyoeif error === "string") { %>
                            <div class="alert alert-danger">
                                <%= error %>
                            </div>    
                        <% } %>    

                        <% if (tyoeif success === "string") { %>
                            <div class="alert alert-success">
                                <%= success %>
                            </div>    
                        <% } %>    